{{>partials/header}}

<div class="container">
    {{#posts}}
        <div>
            <h1>{{titulo}}</h1>
            {{texto}}
        </div>
    {{/posts}}

    {{for(let i = 0; i > 10; i++)}}
    
    {{/for}}

</div>

{{>partials/footer}}
